@import "../abstracts/variables";

body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color_grey_dark;
    padding: 30px;
}

html {
    //This defines what 1 rem is
    font-size: 62.5%;
}


.heading-primary {
    color: $color_white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 700;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        /* animation-delay: 3s;
  animation-iteration-count: 3; */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.74rem;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $primary_color_light, $primary_color_dark);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all 0.1s;

    &:hover {
        transform: skewY(2deg) skewX(10deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
    }
}

.heading-teritary {
    font-size: $default_font_size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default_font_size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}