//Colors

$primary_color: #7ed56f;
$primary_color_dark: #55c57a;
$primary_color_light: #28b485;
$color_grey_dark: #777;
$color_grey_light-1 : #e7e7e7;
$color_white: #fff;
$color_black: #000;


//Fonts

$default_font_size: 1.6rem;

//Grid

$grid_width: 114rem;
$gutter_vertical: 8rem;
$gutter_horizontal: 6rem;